<html>
  <head>
    <title>Creer commentaires</title>
  </head>
  <body>
    <form action='/gossips/<%=id%>/comments/' method='POST'>
        Saisis ton nom :  <input type='text' name='comment_author'/><br/>
        Balance ton commentaire : <input type='text' name='comment_content'/><br/>
        <input type='submit'/>
      </form>
  </body>
</html>
